.loader-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.typing-text {
    font-size: 5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    color: #e3c586;
    font-family: serif;
    border-right: 3px solid #000;
    width: 0;
    animation: typing 2s steps(10, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 10ch }
}

@keyframes blink {
    from, to {border-color: transparent }
    50% { border-color: black }
}