


.form-group{
    position: relative;
    width: 100%;
    padding: 5px;
}

.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label {
    transform: translateY(-20px) scale(0.9);
    color:#6e6e6e;
    font-size: 13px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px 12px;
    border:  1px solid #6e6e6e;
    background: transparent;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.form-group input:focus {
    outline-color: #6e6e6e;
}

.form-group label {
    position: absolute;
    left: 12px;
    top:10px;
    transition: 0.3s ease all;
    pointer-events: none;
    color: #6e6e6e;
    padding: 0 4px;
}

.massage-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.submit-btn, .cancel-btn {
    margin: 4px;
    width: auto;
    min-width: 120px;
    padding: 8px 16px;
    border: none;
    background: #6e6e6e;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    border-radius: 2rem;
}

.submit-btn:hover, .cancel-btn:hover{
    background: #313131;
    color: #6e6e6e;
}