@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: transparent;
    overflow-x: hidden;
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

